#financialStatement {
  position: static;
  display: block;
  margin-bottom: -0.85rem;
  /*無資料時顯示*/
}
#financialStatement ul.filter {
  font-size: 0.65rem;
  color: #238eb5;
  text-align: center;
  padding: 0.6rem 0.8rem;
}
#financialStatement ul.filter li {
  box-sizing: border-box;
  width: 2.6rem;
  height: 1.4rem;
  line-height: 1.4rem;
  border: 0.05rem solid #238eb5;
  border-radius: 0.7rem;
  float: left;
  margin-right: 0.35rem;
}
#financialStatement ul.filter li:last-of-type {
  margin-right: 0;
}
#financialStatement ul.filter li.active {
  color: #fff;
  background-color: #238eb5;
}
#financialStatement .content {
  padding: 0;
  font-size: 0.6rem;
}
#financialStatement .content .blocks {
  background-color: #f9f9f9;
  border-top: 1px solid #d2d2d2;
  padding: 0.6rem 0.8rem;
}
#financialStatement .content .blocks .date {
  font-weight: bold;
  color: #4a8fa0;
  padding-bottom: 0.4rem;
}
#financialStatement .content .blocks .date .bg {
  font-size: 0.8rem;
}
#financialStatement .content .blocks table {
  border-spacing: 0;
}
#financialStatement .content .blocks table th,
#financialStatement .content .blocks table td {
  width: 3.6rem;
  text-align: left;
  color: #73757b;
  padding: 0;
  line-height: 0.9rem;
  font-size: 0.65rem;
}
#financialStatement .content .blocks table th {
  font-weight: normal;
}
#financialStatement .content .pagination {
  border-top: 1px solid #d2d2d2;
  padding: 0.6rem 0.55rem 0.8rem;
}
#financialStatement .content .comment {
  color: #8c8c8c;
  line-height: 1rem;
  padding: 0.6rem 0.8rem 0.3rem;
  border-top: 1px solid #d2d2d2;
}
#financialStatement .content .total {
  padding: 0.6rem 0.8rem 1.1rem;
}
#financialStatement .content .total table {
  width: 100%;
  font-size: 0.7rem;
  font-weight: bold;
  color: #73757b;
}
#financialStatement .content .total table td:nth-of-type(1) {
  width: 50%;
  text-align: right;
}
#financialStatement .content .total table td:nth-of-type(2) {
  width: 25%;
  text-align: left;
}
#financialStatement .content .total table td:nth-of-type(3) {
  width: 25%;
  text-align: right;
}
#financialStatement .no-data {
  text-align: center;
  height: 16rem;
  border-top: 1px solid #d2d2d2;
  display: none;
}
#financialStatement .no-data img {
  width: 3.8rem;
  height: 3.8rem;
  margin-top: 5.4rem;
}
#financialStatement .no-data p {
  padding-top: 0.6rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #73757b;
}
