button {
  padding: 0;
  border: 0;
}
table,
th,
td {
  border: 1px solid #d2d2d2;
  border-collapse: collapse;
  padding: 0;
}
img {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  text-align: center;
  height: 20.8rem;
}
.container .pwsucimg {
  width: 3.8rem;
  margin-top: 5rem;
}
.container .bigtip {
  font-size: 0.8rem;
  color: #73757b;
  margin-top: 0.6rem;
}
.container .littletip {
  font-size: 0.6rem;
  margin-top: 0.35rem;
  color: #73757b;
}
.container .backtopage {
  margin-top: 1.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
